*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}
.container{
    width: 1500px;
    margin-left: auto;
    margin-right: auto;
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 30px;

}
.nav-p{
    display: flex;
    width: 300px;
    justify-content: space-between;
}
.nav-p p{
    /* transition: 0.5s ; */
    cursor: pointer;
    padding-bottom: 10px;
    border: transparent solid;
}
.nav-p p:hover{
    border-bottom: 3px solid blue;
    color: blue;
}
.nav-btn{
    background-color:  #FF7143;
    width: 130px;
    height: 40px;
    border: none;
    border-radius: 10px;
    transition: 0.5s;
    color: white;
    cursor: pointer;
}
.nav-btn:hover{
    background: orangered;
    color: white;
}
.nav-btn:active:active{
    transform: scale(0.9);
}
.main{
    display:flex;
    flex-direction: column;
    gap: 220px;
    padding-left: 160px;
    align-items: center;
    padding-bottom: 50px;
}
.main-title p {
    width: 400px;
}
.main-btn{
    width: 100px;
    height: 40px;
    background-color: lawngreen;
    color: white;
    border: none ;
    border-radius: 10px;
    transition: 0.5s;
}
.main-btn:hover{
    background-color: red;
    color: white;

}
.main-btn:active{
    transform: scale(0.9);
}
.main-b{
    display: flex; 
    gap: 30px; 
}
.main-b img{
   width: 40px;
   height: 40px;

}
.main-title h1{
    width: 400px;
    font-size: 45px;
    margin-bottom: 10px;
}
.main-title p{
    
    margin-bottom: 50px;
}
.main-logo{
    display: flex;
    justify-content: space-around;
    padding-left: 50px;


}
.page2-title p{
    width: 250px;
    font-size: 16px;
}
.page2{
    display: flex;
    gap: 350px;
    align-items: center;
    padding-left: 200px;
    padding-top: 70px;
}
.page2-title h1{
    font-size: 40px;
}
.page3{
    display: flex;
    gap: 350px;
    align-items: center;
    padding-left: 200px;
    padding-top: 70px;
}
.cards{
    display: flex;
    gap: 100px;
    padding-left: 180px;
    padding-top: 80px;
    align-items: center;    
}
.card1 p{
    width: 300px;

}
.card1{
    text-align: center;
}
.hore{
    display: flex;
    gap: 100px; 
    padding-top: 40px;
    align-items: center;
    padding-left: 180px;
}
.hore h1{
    font-size: 50px;
    width: 450px;
}
.hore-btn{
    width: 200px;
    height: 60px;
    background-color: lightgrey;
    color: blue;
    border: none;
}

.hore-btn1{
    width: 200px;
    height: 60px;
    background-color: blue;
    color: white;
    border: none;
}
.card3{
    display: flex;
    /* gap: 4   0px; */
    padding-top: 60px;
    padding-left: 300px;
    padding-bottom: 30px;

}
span{
    font-size: 20px;

}
.card5 h1{
    font-size: 60px;
}
.card5{
    margin-top: 40px;
    font-size: 30px;
    background-color: lightgrey;
    padding: 70px;
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
}

.card5:hover{
    background-color: blue;
    color: white;
    transition:     1.2s;
    transform: scale(1.08);
    box-shadow: 0px 0px 30px dodgerblue;
}
.card6{
    margin-top: 40px;
    font-size: 30px;
    background-color: lightgrey;
    padding: 70px;
    border-radius: 10px;
    /* margin-bottom: 50px; */
    /* padding-top: 70px; */
    text-align: center;
    transition: 0.5s all;
}
.card6:hover{
     background-color: orangered;
     color: white;
     transition: 1.2s;
    transform: scale(1.08);
    box-shadow: 0px 0px 30px orangered;


     
}
.card7{
    margin-top: 40px;
    font-size: 30px;
    background-color: lightgrey;
    padding: 70px;
    border-radius: 10px;
    text-align: center;
    transition: .3s;
    cursor: pointer;
}

.card7:hover{
    background-color: blue;
    color: white;
    transition: 1.2s;
    transform: scale(1.08);
    box-shadow: 0px 0px 30px dodgerblue;
    cursor: pointer;
}
.card5 button{
    width: 120px;
    height: 40px;
    margin-top: 40px;
    color: blue;
    border: none;
    border-radius: 10px;
    transition: 0.5s;
    cursor: pointer;
}
.card5 button:hover {
    background-color: orangered;
    color: white;
}
.card5 button:active {
    transform:scale(0.9) ;
}
.card6 button{
    width: 120px;
    height: 40px;
    margin-top: 40px;
    background-color: white;
    color: blue;
    border: none;
    border-radius: 10px;
    transition: 0.5s;
    cursor: pointer;
}
.card6 button:hover{
    background-color: blue;
    color: white;
}
.card6 button:active{
    transform: scale(0.9);
}



.card7 button{
    width: 120px;
    height: 40px;
    margin-top: 40px;
    color: blue;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.5s;
}
.card7 button:hover{
    background-color: orangered;
    color: white;
}
.card7 button:active{
    transform: scale(0.9);
}

